<h1> Caffeine Intake Calculation</h1>

#ADD DROPDOWN

<form> 
<p> 
    <label for="chain">Coffee chain</label>
    <input id= "chain" type= "text" name= "coffee_chain" </p>
<p> 
    <label for="drink">Type of drink </label>
    <input id= "drink" type= "text" name= "drink" </p>
<p> 
    <label for="size">Size </label>
    <input id= "size" type= "text" name= "size" </p>

<p><form action= "/calcresult">
    <button>Record Consumption</button></p>
</form>

<a href="https://www.google.com"> Go search Google</a>