<html> 
<head> <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous"></head>

<body>

<h1> Caffeine Intake Calculation</h1>

<form><h2><p> Consult current options:</p></h2>
<p> 
    <label for="chain_dropdown">Coffee chain</label>
    <select id="chain_dropdown" name="coffee_chain">
        
        <option value="1">Starbucks</option>
        <option value="2">McDonald's</option>
        <option value="3">Dunkin Donuts</option>
        <option value="4">Costa Coffee</option>
        <option value="5">Intelligentsia</option>
         
        </option>
    
    </select>
<p> 
    <label for="size_dropdown">Size</label>
    <select id="size_dropdown" name="size">
         <option value="1">Short</option>
         <option value="2">Tall</option>
         <option value="3">Grande</option>
         <option value="4">Venti</option>
         <option value="5">One Shot</option>
         <option value="6">Two Shot</option>
         <option value="7">Three Shot</option>
         <option value="8">Small</option>
         <option value="9">Medium</option>
         <option value="10">Large</option>
         <option value="11">Extra Large</option>
         <option value="12">Primo</option>
         <option value="13">Medio</option>
         <option value="13">Massimo</option>
        </option>
    
    </select>
<p> 
    <label for="drink_dropdown">Drink type</label>
    <select id="drink_dropdown" name="drink">
                
            <option value="1">Caffeinated coffee</option>
            <option value="2">Expresso</option>
            <option value="3">Decaf</option>
            <option value="4">Latte</option>
            <option value="5">Cappuccino</option>
            <option value="4">Flat White</option>
            <option value="5">Cortado</option>
         
        </option>
    </select>
</form>

<form action= "/calcresult"><h2><p>Calculate consumption: </p></h2> 
    <label for="chain">Enter a coffee chain</label>
    <input id= "chain" type= "text" name= "coffee_chain"> 
    
    <label for="size">Enter a size of drink</label>
    <input id= "size" type= "text" name= "size_of_drink"> 

    <label for="drink">Enter a type of drink</label>
    <input id= "drink" type= "text" name= "type_of_drink"> 

    <button>Record Consumption</button></p>
<p><form>

</form>

<a href="https://www.google.com"> Go search Google</a>

</body>
